<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <div class="txtEjecutivos">
          <p>
            <!-- <b>{{$store.state.ejecutivo.nombre}}</b> -->
            Un Ejecutivo se pondrá en contacto contigo o llama al
            <a
              :href="'tel:55'+$store.state.config.telefonoAS"
            >(55) {{$store.state.config.telefonoAS}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>