<template>
  <!-- 3 ICONS DE MEDIO -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 px-xl-5 bg-white">
        <div class="icon">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <picture>
                  <source srcset="img/primero/atropellamiento.webp" type="image/webp">
                  <source srcset="img/primero/atropellamiento.png" type="image/png">
                  <img alt="atropellamiento" class="img-fluid"  src="img/primero/atropellamiento.png"  width="70" height="70">
                </picture>
                <p>Atropellamiento</p>
              </div>
              <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
                <picture>
                  <source srcset="img/primero/extencion.webp" type="image/webp">
                  <source srcset="img/primero/extencion.png" type="image/png">
                  <img alt="extencion" class="img-fluid"  src="img/primero/extencion.png"  width="70" height="70">
                </picture>
                <p>Extensión de Gastos Medicos Mayores</p>
              </div>
              <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
                <picture>
                  <source srcset="img/primero/reparacion.webp" type="image/webp">
                  <source srcset="img/primero/reparacion.png" type="image/png">
                  <img alt="reparacion" class="img-fluid"  src="img/primero/reparacion.png"  width="70" height="70">
                </picture>
                <p>Reparación de Agencias</p>
              </div>
              <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
                 <picture>
                  <source srcset="img/primero/robo.webp" type="image/webp">
                  <source srcset="img/primero/robo.png" type="image/png">
                  <img alt="robo" class="img-fluid"  src="img/primero/robo.png"  width="70" height="70">
                </picture>
                <p>Robo de objetos Personales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>