<template>
  <div class="px-xl-2">
    <div class="navbar msj my-4 px-0">
      <div class="m-auto">
        <!-- DATOS -->
        <img src="img/icon/carPrecio.svg" :alt="$store.state.config.k1" class="d-none d-sm-block" />
        <div id="bor">
          <p>
            <span>{{$store.state.ejecutivo.nombre}}</span> se pondrá en contacto contigo o llama al
            <span>55{{$store.state.config.telefonoAS}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="btnMsj">
      <!-- TELEFONO -->
      <img src="img/icon/ase.svg" alt="asesor" name="asr"/>
      <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
        <span>
          <b>
            Llamar Ahora
            <i class="fa fa-chevron-right"></i>
          </b>
        </span>
      </a>
    </div>
  </div>
</template>