<template>
  <div class="tabla">
    <p>Cobertura Amplia</p>
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
          <th>Cobertura</th>
          <th>Suma asegurada</th>
          <th>Deducible</th>
        </thead>
        <tbody>
          <tr v-for="(item, index) in this.$store.state.cotizacion.Coberturas[0]" :key="index">
            <td>{{item | showName}}</td>
            <td>{{item | showSuma}}</td>
            <td>{{item | showDeducible}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid mb-5 text-center">
      <div class="row">
        <div class="col-xl-3 col-md-4 col-12">
          <li>
            <img src="img/icon/check.svg" alt="check" />&nbsp;Reparaciòn en agencias
          </li>
        </div>
        <div class="col-xl-3 col-md-4 col-12">
          <li>
            <img src="img/icon/check.svg" alt="check" />&nbsp;Extensiòn de Gastos Mèdicos Mayores
          </li>
        </div>
        <div class="col-xl-3 col-md-4 col-12">
          <li>
            <img src="img/icon/check.svg" alt="check" />&nbsp;Robo de Objetos Personales
          </li>
        </div>
        <div class="col-xl-3 col-md-4 col-12">
          <li>
            <img src="img/icon/check.svg" alt="check" />&nbsp;Atropellamiento
          </li>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    showName: function(value) {
      return value.substring(
        value.lastIndexOf("-N") + 2,
        value.lastIndexOf("-S")
      );
    },
    showSuma: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-S") + 2,
        value.lastIndexOf("-D")
      );
      if (value_aux.indexOf(".") !== -1) {
        // Verifica si existe un punto en la suma
        if (value_aux.indexOf(".") === 1) {
          // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
          return "VALOR COMERCIAL";
        } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
          // Quita los decimales de Banorte
          return value_aux.substring(0, value_aux.indexOf("."));
          //  + "\nPOR EVENTO"
        }
        value_aux = value.substring(
          value.lastIndexOf("-S") + 2,
          value.lastIndexOf("-D") - 2
        ); // Quita los decimales de AFIRME
      }
      // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
      if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
        if (value_aux.indexOf(",") !== -1) {
          // Evita los precios sin formato de comas
          return "$ " + value_aux;
        }
        if (value_aux.length > 3) {
          // Evita los montos que no son lo suficientemente largos para tener comas
          if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
            // Se le agrega una coma
            value_aux =
              value_aux.substring(0, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
            // Se le agrega dos comas
            value_aux =
              value_aux.substring(0, value_aux.length - 6) +
              "," +
              value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          }
        } else if (value_aux.length === 1) {
          if (value_aux[0] === "1") {
            // Cambia los 1's de MAPFRE por AMPARADA
            return "AMPARADA";
          } else if (value_aux[0] === "0") {
            // Cambia los 0's por NO APLICA
            return "NO APLICA";
          }
        }
        return "$ " + value_aux; // Regresa los precios con el formato requerido
      }
      return value_aux.toString().toUpperCase(); // Regresa las palabras en   mayúsculas
    },
    showDeducible: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-D") + 2,
        value.lastIndex
      );
      if (value_aux.indexOf(".") !== -1) {
        // En caso de que haya decimales en el porcentaje
        value_aux = value_aux.substring(0, value_aux.indexOf("."));
        //   return value_aux + "%";
      }
      // ESTA VALIDACION ESTABA ANTES NO SE BIEN QUE HACIA PERO ESTABA
      // if (value_aux.indexOf(".") !== -1) {
      //   // En caso de que haya decimales en el porcentaje
      //   value_aux = value_aux.substring(0, value_aux.indexOf("."));
      //   return value_aux + "%";
      // }
      if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
        // Evita todos los que son dinero y los que son palabras
        if (value_aux.length > 3) {
          if (
            value_aux[0] === "0" &&
            value_aux[1] === "0" &&
            value_aux[2] === "0"
          ) {
            // Evita los tres ceros de Qualitas
            value_aux = value.substring(
              value.lastIndexOf("-D") + 5,
              value.lastIndex
            );
            if (value_aux[0] === "0") {
              // Si es cero se evita poner el signo de porcentaje
              return "NO APLICA";
            }
            return value_aux + " %";
          }
        } else if (value_aux[value_aux.length - 1] === "%") {
          // Evita colocar dos veces el signo de porcentaje
          return value_aux;
        } else {
          return value_aux + " %";
        }
      } else if (value_aux.length === 1) {
        // Verifica si solo es un caracter
        if (value_aux[0] === "0") {
          // Si es cero se sustituye por NO APLICA
          return "NO APLICA";
        }
        return value_aux + " %";
      } else if (value_aux.length === 0) {
        // Sustituye los espacios en blanco por NO APLICA
        return "NO APLICA";
      } else if (value_aux[0] !== "$") {
        return value_aux.toString().toUpperCase();
      }
      return value_aux;
    }
  }
};
</script>