<template>
  <div>
    
    <div >
      <a id="btnTop" class="botonTop" href="#Top">
        <img src="/img/nuevas/flecha.svg" alt="Top" width="19" height="19"/>
        <span> Ir Arriba</span>
      </a>
     
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 50) {
        this.showBottonAutoBack = 0;
      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style>
.botonTopw {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.botonTop {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.botonTop img {
  width: 19px;
  transform: rotate(-90deg);
}
.botonTop span {
  color: #ffffff;
  font-size: 16px;
}
</style>