<template>
  <div>
    <div class="container-fluid bgFoter">
      <div class="row">
        <div class="col-2 text-end">
          <img :src="$store.state.config.imgen+'/img/nuevas/logo.svg'" loading="lazy" alt="Logo" class="img-fluid" width="100"  height="60"/>
        </div>
        <div class="col-8">
         <p class="m-0 tam"><b>© 2022 MIGO seguros.</b>Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros Términos y 
          condiciones, así como el Aviso de privacidad.</p> 
        </div>
        <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0">
          <span>Aseguradoras</span>
          <div class="lineaDegrad"></div>
          <a href="#">
            <p>Seguros El Águila</p>
          </a>
          <a href="#">
            <p>Seguros Banorte</p>
          </a>
          <a href="#">
            <p>Zurich Seguros</p>
          </a>
          <a href="#">
            <p>Mapfre Seguros</p>
          </a>
          <a href="#">
            <p>ABA Seguros</p>
          </a>
        </div> 
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0">
          <span>Seguros de Autos</span>
          <div class="lineaDegrad"></div>
          <a href="#">
            <p>Quálitas Seguros de Autos</p>
          </a>
          <a href="#">
            <p>GNP Seguros de Autos</p>
          </a>
          <a href="#">
            <p>AXA Seguros de Autos</p>
          </a>
          <a href="#">
            <p>HDI Seguros de Autos</p>
          </a>
          <a href="#">
            <p>Inbursa Seguros de Autos</p>
          </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-md-0">
          <span>Seguros</span>
          <div class="lineaDegrad"></div>
          <a href="#">
            <p>Quálitas Seguros de Autos</p>
          </a>
          <a href="#">
            <p>GNP Seguros de Autos</p>
          </a>
          <a href="#">
            <p>AXA Seguros de Autos</p>
          </a>
          <a href="#">
            <p>HDI Seguros de Autos</p>
          </a>
          <a href="#">
            <p>Inbursa Seguros de Autos</p>
          </a>
        </div> 
        <div class="col-12 col-sm-6 col-md-12 col-lg-3 mt-5 mt-lg-0">
          <span>Aseguradoras</span>
          <div class="lineaDegrad"></div>
          <a href="#">
            <p>Seguros El Águila</p>
          </a>
          <a href="#">
            <p>Seguros Banorte</p>
          </a>
          <a href="#">
            <p>Zurich Seguros</p>
          </a>
          <a href="#">
            <p>Mapfre Seguros</p>
          </a>
          <a href="#">
            <p>ABA Seguros</p>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</template>