<template>
  <div class="col-12 px-xl-5 px-1">
    <nav class="navbar m-0 px-0">
      <!-- LOGO -->
      <a href="/">
        <img src="img/asg/logo.png" alt="Logo" />
      </a>
      <!-- BTN TEL -->
      <div class="btnTel">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
          <p>LLAMA GRATIS</p>
          <img src="img/icon/tel.svg" alt="Tel" />
          <b>(55) {{$store.state.config.telefonoAS}}</b>
        </a>
      </div>
      <!-- <a class="btn d-md-none" data-toggle="modal" data-target="#munu">
        <img src="img/icon/menu.svg" alt="menu" class="btnMenu" />
      </a>
      <ul class="nav justify-content-end d-none d-md-flex">
        <li>
          <a href="#">Cotizar Seguro de Auto</a>
        </li>
        <li>
          <a href="#">Coberturas</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">¿Quienes Somos?</a>
        </li>
      </ul> -->
    </nav>
    <!-- <div
      class="modal right fade"
      id="munu"
      tabindex="-1"
      role="dialog"
      aria-labelledby="munuLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-head menuHead">
            <span>Menú</span>
          </div>
          <div class="modal-body menu">
            <p>
              <a href="#">Cotizar Seguro de Auto</a>
            </p>
            <p>
              <a href="#">Coberturas</a>
            </p>
            <p>
              <a href="#">Blog</a>
            </p>
            <p>
              <a href="#">¿Quienes Somos?</a>
            </p>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>