<template>
  <div id="botonTop">

    <nuxt />
  <cookies></cookies>

  </div>
</template>
<script>
  import cookies from '~/components/common/cookies.vue'
export default {
  components:{
    cookies
  }
}
</script>
