<template>
  <div id="botonTop">
    <div :class="$store.state.config.dominio+' -- VERSION 1'"></div>
    <!--<Alerta />-->
    <Btn />
    <Modal />
    <nuxt />
    <Footer />
  </div>
</template>
<script>
//import Alerta from "~/components/alerta/alerta.vue";
import Btn from "~/components/common/btnTop.vue";
import Modal from "~/components/utilities/modal.vue";
import Footer from "~/components/common/Footer.vue";
export default {
  components:{
    //Alerta,
    Btn,
    Modal,
    Footer, 
  }
}
</script>
