<template>
  <div id="botonTop">
    <div :class="$store.state.config.dominio+' -- VERSION 1'"></div>
    <nuxt />
    <Footer />
  </div>
</template>
<script>

import Footer from "~/components/common/Footer.vue";
export default {
  components:{
    Footer,
  }
}
</script>
