<template>
  <div>
   <!-- <div class="container-fluid my-3">
      <div class="row">
        <div class="col-12 col-md-6 text-center px-md-3 px-lg-5">
          <img loading="lazy" :src="this.$store.state.config.promoImg" width="81" height="81" alt="cotizar seguro de camiones" class="img-lluvia" v-if="this.$store.state.config.promoSpecial">
          <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/logo.svg'" width="200" height="200" class="img-fluid logop" alt="cotizar seguro de camiones">          
          
          <p class="mb-0 tumejor text-center text-md-start mt-3 ms-lg-4 mejorop">¡Tu mejor opción en Seguros!</p>
          <ul class="text-start my-md-3 d-none d-md-block">
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="cotizar seguro de camiones" width="17" height="17" class="img-fluid me-2"> Paquete Amplia</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Coberturas adicionales disponibles</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Meses sin intereses {{this.$store.state.config.msi}} </li>
          </ul>

          <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/camiones.webp'" width="500" height="250" class="img-fluid d-none d-md-block" alt="cotizar seguro de camiones">
        </div>
        <div class="col-12 col-md-6 pe-md-3 pe-lg-5  text-center">
          <section class="fichamulti py-md-2">
            <h1 class="text-center"> ¡Descuentos Exclusivos! </h1>
            <p class="mb-0 subnuevo text-center"> ¡ {{this.$store.state.config.promoLabel}} {{this.$store.state.config.desc}}! </p>
            <formulario :config="this.$store.state.config" /> 
          </section>
            <div align="center">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/frase.svg'" width="500" height="250" class="img-fluid d-none d-md-block py-4" alt="camionprincipal">
          </div>    
        </div>
      </div>
    </div> -->
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-12 col-md-6 text-center px-md-3 px-lg-5">
          <img :src="this.$store.state.config.promoImg" width="81" height="81" alt="cotizar seguro de auto" class="img-lluvia" v-if="this.$store.state.config.promoSpecial">
          <img :src="$store.state.config.imgen+'/img/nuevas/logo.svg'" width="200" height="200" class="img-fluid logop" alt="cotizar seguro de auto">          
          
          <p class="mb-0 tumejor text-center text-md-start mt-3 ms-lg-4 mejorop">Seguros para Camiones</p>
          <ul class="text-start my-md-3 d-none d-md-block">
            <li><img :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="cotizar seguro de auto" width="17" height="17" class="img-fluid me-2"> Paquete Amplia </li>
            <li><img :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="cotizar seguro de auto" width="17" height="17" class="img-fluid me-2"> Coberturas adicionales disponibles</li>
            <li><img :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="cotizar seguro de auto" width="17" height="17" class="img-fluid me-2"> Meses sin Intereses {{this.$store.state.config.msiAuto}} </li>
          </ul>

          <img :src="$store.state.config.imgen+'/img/nuevas/camiones.webp'" width="500" height="250" class="img-fluid d-none d-md-block my-5" alt="cotizar seguro de auto">
        </div>
        <div class="col-12 col-md-6 pe-md-3 pe-lg-5  text-center">
          <section class="fichamulti py-md-2">
            <h1 class="text-center"> ¡Descuentos Exclusivos! </h1>
            <p class="mb-0 subnuevo text-center"> ¡ {{this.$store.state.config.promoLabel}} {{this.$store.state.config.desc}}! </p>
            <formulario :config="this.$store.state.config" /> 
          </section>
            <img :src="$store.state.config.imgen+'/img/nuevas/frase.svg'" width="510" height="46" class="img-fluid my-md-4" alt="tu seguro migo">  
        </div>
      </div>
    </div>
    <!-- CONTENIDO -->
    <div class="container-fluid">
      <div class="col-12 pt-lg-5 pb-lg-3 px-lg-4 px-md-4 text-justify">
        <div class="row">
          <h2 class="text-center pb-4">¡Cotiza tu Seguro para Camiones de Carga con Migo!</h2>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-1 order-lg-1">
            <p>Asegura camiones de carga con la amplia cobertura que ofrece Migo Seguros.</p>
            <p>Protege todos tus camiones pesados de más de 3.5 toneladas de uso comercial, tractocamiones y semirremolques nacionales.</p>
            <p>
              Migo Seguros es una compañía mexicana especializada en operar pólizas de seguros vehiculares, 
              incluidos seguros para camiones pesados, gracias a su amplia experiencia en el sector, podrás encontrar 
              las mejores coberturas y beneficios que protegen no solo el vehículo, sino también el personal y la mercancía 
              que se transporta.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-3 order-md-2 order-lg-3 text-center">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/001.webp'" width="546" height="357" class="img-fluid" alt="camionesCarga">
          </div> 
          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-3 order-lg-3">
            <p>
              Contratar un seguro para camiones de carga no solo es un requisito obligatorio por la ley, sino también para tu logística. 
              A través de un seguro estarás contando con un respaldo ante los peligros más frecuentes al momento de conducir en carretera
              como lo son los robos, choques, volcaduras, entre otros.
            </p>
            <p>
              En Migo conocemos la importancia de la operación de tus camiones, es por ello que a través de asistencias exclusivas podrás 
              tener la confianza de que tu personal y mercancía viajarán seguros en todo momento.
            </p>
          </div>         
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-justify pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">¿Qué es el Seguro para Camiones de Carga?</h2>
          <p>
            Una póliza de seguro para camiones está especialmente diseñada para todos aquellos vehículos que tienen una actividad 
            comercial, como el transporte de mercancías, maquinarias, sustancias peligrosas, entre otros.
          </p>

          <p>
            Dentro de la operación de camiones de carga, es muy común que estos realicen viajes largos, en carretera y en la mayoría 
            de las ocasiones portando mercancía valiosa para las empresas. Ante esta situación, Migo Seguros ha trabajado en desarrollar 
            una póliza funcional para cubrir cada uno de los riesgos a los que estos conductores son vulnerables día con día.
          </p>
        </div>
      </div>
      
      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-4 px-md-4 text-justify">
        <div class="row">
          <h2 class="text-center pb-4">Coberturas de los Seguros para Camiones de Carga Migo</h2>
            <p class="px-lg-4">Con el objetivo de respaldarte ante cualquier tipo de siniestro vial, Migo ofrece las siguientes coberturas:</p>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/002.webp'" width="546" height="307" class="img-fluid" alt="camionesCarga">
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 order-lg-2">
            <ul>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Daños Materiales</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Robo Total</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Responsabilidad Civil</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Gastos Médicos Ocupantes</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Defensa Legal</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Asistencia vial</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Muerte accidental al Conductor</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">¿De qué forma me protegen las Coberturas del Seguro para Camiones?</h2>
          <p>
            Cada una de las coberturas disponibles en el Seguro para Camiones de Carga
            en México tienen una funcionalidad en específico, algunas  de estas son:
          </p>
          <ul>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Daños Materiales</b>: A través de esta cobertura se podrán cubrir todos los daños estéticos que se generen en el camión de carga a consecuencia de un choque, volcadura, desastres naturales, intento de robo, etc. </li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Robo total</b> Obtén una indemnización por el valor comercial o convenido del vehículo en caso del robo del mismo.</li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Responsabilidad Civil de Daños a Terceros</b>l: Garantiza la indemnización de terceros por daños materiales o lesiones corporales.</li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Gastos Médicos Ocupantes</b>: El seguro cubrirá todos los gastos médicos que requiera el conductor o sus acompañantes, tales como traslado en ambulancia, honorarios médicos,  medicamentos, etc.</li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Defensa Legal</b>: Migo te apoyará con asistencia y asesoría legal en caso de verte involucrado en algún proceso legal a consecuencia de un accidente vial.</li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Asistencia Vial</b>: En caso de que el camión de carga quedará varado a consecuencia de un accidente o por alguna falla se podrá hacer uso de asistencias como envío de grúa, entre otros.</li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Muerte Accidental al conductor</b>: En caso de la muerte del conductor por un accidente vial, sus beneficiarios recibirán una suma asegurada como indemnización.</li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">Complementa tu Póliza con Coberturas Adicionales</h2>
          <p>Al cotizar tu seguro para camión podrás tener la oportunidad de personalizarlo con otras coberturas adicionales para
            complementar tus necesidades de protección.
          </p>
          <p class="px-lg-4">Algunas de las coberturas extras que ofrece Migo son:</p>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/003.webp'" width="546" height="307" class="img-fluid" alt="Cobertura Adicional">
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 order-lg-2">            
            <ul>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Equipo Especial</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Adaptaciones</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Extensión de Responsabilidad Civil</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Responsabilidad Civil Ocupantes</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Exención de deducible por Pérdida Total Daños Materiales</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Exención de deducible por Robo total</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Daños por la Carga Tipo A (No Peligrosa) y Tipo B  (Peligrosa)</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Gasto por Pérdida de Uso en Pérdida Total</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4"> ¡Conoce las Sumas Aseguradas y Deducibles de Migo Seguros</h2>

          <p>Encuentra en Migo Seguros los deducibles más bajos en el mercado y sumas aseguradas altas que te permitirán cubrir cualquier tipo de gasto durante un accidente vial.</p>
          <div class="table-responsive pt-4 pb-4" align="center">
            <table class="table" style="width: 75% !important;">
              <thead class="encabezadoT">
                <tr>
                  <th class="tableBorderI" scope="col">Cobertura</th>
                  <th scope="col">Suma Asegurada</th>
                  <th class="tableBorderF" scope="col">Deducible</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Daños Materiales</td>
                  <td>Valor Comercial/Valor Convenio</td>
                  <td>3%,5%y 10%</td>
                </tr>
                <tr class="tablaC">
                  <td>Responsabilidad Civil</td>
                  <td>Desde 1 millón hasta 8 millones</td>
                  <td>No aplica</td>
                </tr>
                <tr>
                  <td>Gastos Médicos Ocupantes</td>
                  <td>Desde 150 mil hasta 1 millón</td>
                  <td>No aplica</td>
                </tr>
                <tr class="tablaC">
                  <td>Defensa Legal</td>
                  <td>Amparada</td>
                  <td>No aplica</td>
                </tr>
                <tr >
                  <td>Asistencia Vial</td>
                  <td>Amparada</td>
                  <td>No aplica</td>
                </tr>
                <tr class="tablaC">
                  <td class="tableBorderI2">Muerte Accidental al Conductor</td>
                  <td>Desde 100mil hasta 200 mi</td>
                  <td class="tableBorderF2">No aplica</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">¿Cómo cotizar un Seguro para Camión con Migo Seguros?</h2>
          <p>Al utilizar nuestro cotizador de seguros para camiones podrás tener la oportunidad de cotizar, evaluar y contratar tu 
            póliza en el mismo lugar. De esta forma no solo optimizarás el tiempo que inviertas en elegir tu seguro, sino que tendrás 
            conocimiento absoluto de las coberturas, precios, beneficios, etc.
          </p>
          <p>Para ello te recomendamos seguir la siguiente guía para cotizar seguros para camiones de carga:</p>
          <ul>
            <li><span class="rounded-circle circleF">1</span> Ingresa los datos que te solicita el formulario</li>
            <li><span class="rounded-circle circleF">2</span> Selecciona la marca, el año, modelo y versión del vehículo</li>
            <li><span class="rounded-circle circleF">3</span> Comparte tu información personal como nombre, edad, sexo y género</li>
            <li><span class="rounded-circle circleF">4</span> Te solicitaremos algunos datos de contacto como número telefónico y correo electrónico para comunicarnos directamente contigo y dar seguimiento a tu cotización</li>
            <li><span class="rounded-circle circleF">5</span> Obtén el costo anual de tu seguro</li>
            <li><span class="rounded-circle circleF">6</span> ¡Aprovecha las ofertas y descuentos  de hasta el 30% de descuento que ofrece Migo Seguros!</li>
            <li><span class="rounded-circle circleF">7</span> Elige la opción que más se ajuste a tus necesidades e inicia el proceso de contratación</li>
            <li><span class="rounded-circle circleF">8</span> Comparte la documentación solicitada y método de pago</li>
            <li><span class="rounded-circle circleF">9</span> Recibe tu póliza vía correo electrónico.</li>
          </ul>
          <p>¡Utilizar el cotizador seguros para camiones de Migo es gratis! Cotiza y compara los modelos de camiones que requieras y contrata al mejor precio.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">Beneficios de Cotizar Seguros para Camiones con Migo Seguros</h2>
          <p>
            Utilizar un cotizador de seguros para camiones es una gran opción para optimizar tiempos y dinero al momento de contratar 
            tu póliza, con Migo no sólo se agilizará el proceso de compra, sino también podrás tener los siguientes beneficios:
          </p>
          <ul>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Cotiza y contrata tu póliza con un trámite 100% digital en un mismo lugar</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Protegemos todos tus datos personales y bancarios</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Utilizar el cotizador de Migo las 24 horas del días los 365 días del año</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Obtén seguros para camiones pesados con descuentos y promociones exclusivas.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Asesores disponibles para atender cualquier duda o comentario sobre la contratación de tu póliza</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Obtén mayores montos de sumas aseguradas y deducibles bajos</li>	
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Diseño de cobertura amplia para protegerte de cualquier tipo de incidente vial en tiempo y forma</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Pagos a Meses sin intereses</li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-5 px-lg-4 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">¿Cuánto Cuesta el Seguro para Camiones de Carga?</h2>
          <p>El precio de un seguro vehicular, incluido el de camiones de carga, se calcula con base a diferentes factores tanto del 
            camión como del asegurado. En pocas palabras, los precios son totalmente personalizados conforme a las características de 
            cada usuario.
          </p>
          <p>Al cotizar tu seguro para camión, Migo tomará en cuenta las siguientes variables:</p>
          <div class="col-12 col-md-6 col-lg-6" >
            <div class="card" style="height: 100%; box-shadow: rgb(100 100 111 / 20%) 0px 2px 7px 0px; border:0 !important;">
              <div class="card-header encabezadoC text-center">
                <p class="m-0"><b>Características del Vehículo</b></p>
              </div>
              <div class="card-body">
                <ul>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Modelo</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Marca</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Número de Serie</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Versión</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Año</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Tipo de Uso</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card" style="height: 100%; box-shadow: rgb(100 100 111 / 20%) 0px 2px 7px 0px; border:0 !important;">
              <div class="card-header encabezadoC2 text-center">
                <p class="m-0"><b>Características del Asegurado</b></p>
              </div>
              <div class="card-body">
                <ul>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Nombre</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Edad</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Género</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Cobertura Contratada</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Coberturas Adicionales</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Sumas Aseguradas contratadas</li>
                  <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Deducibles contratados</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">Métodos de Pago para adquirir mi seguro con Migo</h2>
          <p>Contrata seguros para camiones de carga a través de los métodos de pago más comunes y sencillos:</p>
          <ul>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Tarjeta de crédito: </b> Meses sin Intereses 3%, 6%, 9% y 12%.</li>
            <li class="my-3"><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> <b>Tarjeta de débito: </b> Hasta el 30% de descuento al cotizar y contratar tu póliza.</li>
          </ul>
          <div align="center">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/004.webp'" width="1116" height="271" class="img-fluid" alt="Métodos de pago">
          </div>          
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">¿Cuáles son los Requisitos de Contratación del Seguro para Camiones de Carga?</h2>
          <p>¡Optimizamos el proceso de contratación! Con Migo solo es necesario cumplir con los siguientes requisitos básicos y presentar 
            documentación de:
          </p>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/005.webp'" width="546" height="307" class="img-fluid" alt="Requisitos de contratación">
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 order-lg-2">            
            <ul>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Datos del asegurado: Nombre, Fecha de nacimiento,domicilio. En caso de que el camión de carga se operado por un conductor adicional es importante mencionar también sus datos personales.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Marca, modelo, año y versión del camión.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Contar con la mayoría de edad.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Placas del vehículo.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Tarjeta de circulación.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Licencia de conducir vigente.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Uso del camión: puede ser uso personal o comercial.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Rutas más comunes que realizará el vehículo.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Historial de siniestralidad en caso de tenerlo.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">¿Contra qué riesgos me respalda el seguro de Camiones de Carga en México?</h2>
          <p>Algunos de los peligros que puede llegar a cubrir el seguro son: </p>
          <ul>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Accidentes de tránsito</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Robo o asalto</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Daños por desastres naturales.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Vandalismo.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Daños por incendios, colisión, maniobras, descargas, explosión, mojadura.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Pérdidas de mercancía.</li>	
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Responsabilidad Civil por daños a terceros.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Responsabilidad Civil por daños a la carga.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Gastos médicos a ocupantes.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Asistencia vial y satelital.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Muerte accidental al conductor.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Responsabilidad Civil por ocupantes.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Arrastre de remolque.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Equipo especial y adaptaciones.</li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-4 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">¿Quienes deben contratar un Seguro para Camiones?</h2>
          <p>
            Por la naturaleza de sus actividades, si se realiza alguna de las siguientes acciones, es recomendable contar con un 
            seguro para camiones de carga:
          </p>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/006.webp'" width="546" height="307" class="img-fluid" alt="Seguro Camiones">
          </div>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2">            
            <ul>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Generadores de carga.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Transportadores de carga.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Transportistas.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Importadoras.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Exportadoras.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-5 pb-lg-3 px-lg-4 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">Importancia de contratar un seguro de mercancías y un seguro de transporte de carga</h2>
          <p>
            En México existe una alta tasa de robos en carreteras, donde los transportes de carga, son un blanco fácil y constante de los 
            delincuentes por lo que es recomendable asegurar tu inversión y patrimonio ante dichos siniestros a través de este tipo de 
            seguros.
          </p>

          <p>Otros de los beneficios de adquirir un seguro son:</p>

          <div class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1">
            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/007.webp'" width="546" height="307" class="img-fluid" alt="Cobertura Adicional">
          </div>
          <div class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2">            
            <ul>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Respalda no solo al vehículo sino también a la mercancía, conductores y ocupantes del mismo ante cualquier siniestro.</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Las pólizas de seguros para camiones de carga se pueden adaptar a las necesidades de cada empresa, incluso protegiendo también equipos especiales o adaptaciones con los que cuenta el medio de transporte.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">Reporta un Siniestro con Migo Seguros</h2>
          <p>
            En el caso de enfrentar un siniestro deberás avisar inmediatamente a los teléfonos de atención de 
            Migo Seguros para ello, necesitarás tener a mano la siguiente documentación: 
          </p>
          <ul>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Póliza de seguro</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Datos del vehículo como: Marca, color, placas, modelo.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Ubicación exacta del accidente: Avenida, carretera, intersección, colonia, número, referencias, etc.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Fotos de la mercancía dañada en caso de existir.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Espera a que llegue el ajustador de seguros asignado por Migo, la ayudará llegará lo antes posible.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Evita mover el vehículo o negociar por tu cuenta. Nunca admitas culpa sobre ninguna acción.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Si te es posible toma fotos del accidente y de las placas de las personas involucradas.</li>
            <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> En caso de robo se deberá dar aviso a las autoridades correspondientes como el Ministerio Público para que se pueda levantar una acta que confirme legalmente esta situación, durante este proceso el ajustador de seguros te acompañará en todo momento.</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">Reporta un Siniestro con Migo Seguros</h2>
          <p>
            Migo es una compañía mexicana 100% digital que cuenta con una amplia experiencia en la operación y administración de seguros 
            para vehículos, incluido el seguro para camiones de carga en México,
          </p>
          <p>
            Gracias a su fortaleza financiera y experiencia en el ramo, las coberturas que ofrece garantizan la satisfacción de 
            necesidades elementales de protección al momento de manejar.
          </p>
          <p>
            Otro de los logros de esta aseguradora es la optimización de tiempos que ofrece a sus usuarios para adquirir un seguro, 
            anteriormente este trámite podría llevar días o incluso meses, donde la inversión de tiempo era inmensa.
          </p>
          <p>
            A través del cotizador de seguros de Migo no sólo ahorrarás tiempo sino también dinero pues no habrá necesidad de 
            trasladarse a ningún lugar o sacar copias de tu documentación, todo el trámite es digital ¡Fácil y seguro!
          </p>
          <p>
            Migo está hecho para todas las generaciones que buscan practicidad y efectividad en el uso de su tiempo. ¡Contrata tu seguro 
            con la mejor compañía de seguros en México!
          </p>
        </div>
      </div>

      
		<div class="row">
        <div class="col-12 pb-lg-3 px-lg-4 px-md-4">
          <h2 class="text-center pb-4">Preguntas Frecuentes:</h2>
				<p class="m-0">
					<span class="rounded-circle circleF">1</span><b>¿Cuáles son los tipos de camiones que puedo asegurar con Migo?</b>
				</p>
				<p>
					Camiones de 3.5 toneladas, tractocamiones, semiremolques y pick ups de carga
				</p>
				<p class="m-0">
					<span class="rounded-circle circleF">2</span><b>¿Cuál es la vigencia de mi seguro para camión?</b>
				</p>
				<p>
					La vigencia dura 1 año a partir de la fecha de firma de contrato.
				</p>
				<p class="m-0">
					<span class="rounded-circle circleF">3</span><b>¿Cuál es el teléfono para reportar un accidente a Migo Seguros?</b>
				</p>
				<p>
					Atención Vía Telefónica: 55 8890 2548  y Whatsapp: 55 28429403 disponible las 24 horas del día.
				</p>
				<p class="m-0">
					<span class="rounded-circle circleF">4</span><b>¿Cómo realizar la renovación de mi póliza?</b>
				</p>
				<p>
					Elige la renovación automática o manual, en caso de esta última, ten presente la fecha de vigencia para solicitar 
          la renovación al menos un mes antes para evitar quedarte sin seguro. 
				</p>
				<p class="m-0">
					<span class="rounded-circle circleF">5</span><b>¿Puedo cancelar mi seguro de auto en cualquier momento?</b>
				</p>
				<p>
					Si tienes problemas con tu seguro, un asesor se comunicará contigo para tratar de solucionarlo, sin embargo, 
          si aún así deseas cancelarlo si es posible realizarlo. 
				</p>
        <p class="m-0">
					<span class="rounded-circle circleF">6</span><b>¿Puedo contratar Migo en cualquier ciudad?</b>
				</p>
				<p>
					Si, Migo tiene cobertura Nacional. 
				</p>
			</div>
		</div>
    </div>
  </div>
</template>
<script>
import Header from "~/components/common/Head.vue";
import formulario from "~/components/forms/autosFormMulti.vue";
import icon from "~/components/utilities/iconos-nuevo.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  layout:'cookies',
  beforeCreate: function () {
    this.$store.state.config.aseguradora = "QUALITAS";
    this.$store.state.config.emision = false;
    this.$store.state.config.grupoCallback = "VN Qualitas";
    this.$store.state.config.from = "CAMIONES-QUALITAS";
    this.$store.state.config.idMedioDifusion = 1585;
    this.$store.state.config.urlForm = "/thank-you";
    this.$store.state.config.k1 = "Seguro para Camiones";
    this.$store.state.config.k2 = "Seguros para Camiones";
    this.$store.state.config.dominioCorreo = "CAMIONES|MIGO|migoseguros-com-seguros-para-camiones";
    this.$store.state.config.k3 = "Seguros de Camiones";
    this.$store.state.config.k4 = "cuánto cuesta un seguro para Camiones";
    this.$store.state.config.k5 = "Seguro para Camiones precios";
    this.$store.state.config.gracias = '/thank-you/'
    this.$store.state.config.idSubRamo = 50;
    this.$store.state.config.idPagina = 50;
    this.$store.state.config.imgen ='/seguros-para-camiones' ,
    this.$store.state.config.socioHubspot= "MIGO"
  },
  async created() {
        this.$store.state.config.aseguradora = "MIGO"

    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );
     
this.$store.commit("telApi");
      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;

      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
  components: {
    Header,
    formulario,
    icon,
  },
  head() {
    return {
      title:
        "▷ Seguro para Camiones- Cotiza Seguro para Camiones de Carga",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "seguro para camiones de carga, seguro para camiones, póliza de seguro para camiones, cotizador de seguros para camiones, cotizar seguros para camiones de carga seguros para camiones de carga en México, seguros para camiones pesados, cotizar seguros para camiones, cotizar seguro para camion, seguro para camiones de carga en México",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Cotiza tu seguro para camiones de carga en México, obtén coberturas ante robos o daños materiales. ¡Con Migo cotiza tu seguro al mejor precio!.",
        },
        { hid: "author", name: "author", content: "" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://migoseguros.com/seguros-para-camiones/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>