<template>
  <div>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 col-md-5 text-center">
          <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/logo.svg'" width="200" height="150" class="logop" alt="logo">          
        </div>
        <div class="row mx-auto">            
          <div class="col-md-5 mx-auto">
            <h1 class="mb-0 tumejor text-center text-md-start mt-3 ms-lg-4 mejorop">Seguros para Camiones</h1>
            <ul class="text-start my-md-3 d-none d-md-block">
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="cotizar seguro de camiones" width="17" height="17" class="img-fluid me-2"> Paquete Amplia</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Coberturas adicionales disponibles</li>
              <li><img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/check.svg'" alt="check" width="17" height="17" class="img-fluid mr-2"> Meses sin intereses {{this.$store.state.config.msi}} </li>
            </ul>

            <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/camiones.webp'" width="500" height="256" class="img-fluid m-auto d-none d-md-block my-5" alt="camiones">
          </div>
          <div class="col-12 col-md-7 thanks p-0">
            <section class="fichamulti pb-2">
              <!-- <h1 class="text-center"></h1> -->
              <div class="thanks py-2">
                <p class="mb-0" id="idGraciasCamiones">
                  Hola {{this.$store.state.formData.nombre}},
                </p>
                <p class="tgra"> ¡El menor costo y las mejores coberturas con Migo Seguro!</p>
                <span class="gracias" style="display: flex; margin: 10px"
                  >COTIZASTE UN: {{ $store.state.formData.marca }}
                  {{ $store.state.formData.modelo }}
                  {{ $store.state.formData.descripcion }}
                  {{ $store.state.formData.subDescripcion }}
                </span>
              </div>
              <!-- <div class="col-11 m-auto my-3 thanksspan text-center">
                <span
                  >En un momento nuestrosasesores se comunicarán contigo, para brindarte una atención personalizada.</span
                >
              </div> -->
              <div v-if="!this.$store.state.cargandocotizacion">
                <loader></loader>
              </div>
              <div v-else class="col-12 px-0">
                <msjEjecutivo />
              </div>
            </section> 
            <div align="center">
              <img loading="lazy" :src="$store.state.config.imgen+'/img/nuevas/frase.svg'" width="500" height="250" class="img-fluid d-none d-md-block py-3" alt="camionprincipal">
            </div>   
          </div>
        </div>

      </div>
    </div>
    <br>
  </div>
</template>
<script>
import tablaHead from "~/components/utilities/datosTabla.vue";
import tabla from "~/components/utilities/tabla.vue";
import msjEjecutivo from "~/components/utilities/msjEjecutivo.vue";
import msj from "~/components/utilities/msj.vue";
import loader from "~/components/utilities/preLoader.vue";
// import saveDataHubspot from "~/plugins/saveHubspot";
export default {
  layout: "thanks",
  created: function() {
    // Cotizacion
    if (this.$store.state.formData.nombre != "") {
      this.$store.state.config.loading = true;
    
     this.$store.commit("validateData");
      
    } else {
      this.$router.replace({ path: "/error/" });
    }
    this.$store.state.config.reload = false;
  },
  components: {
    tablaHead,
    tabla,
    msjEjecutivo,
    msj,
    loader,
  },
  methods:{

   
    
    
  },
  head() {
    return {
      title: "Aseguradoras de Autos 🥇 - Cotiza en Segundos - Migo Seguros",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "aseguradoras, aseguradoras de autos, aseguradoras en México, aseguradora, mejores aseguradoras de autos, mejor aseguradora, aseguradora de auto",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Las Aseguradoras de autos son importantes para cotizar un seguro de auto. En Migo Seguros somos la aseguradora con mejores precios. ¡Cotiza en Segundos!",
        },
        { hid: "author", name: "author", content: "zaid" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://migoseguros.com/aseguradoras-de-autos/thank-you/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
