<template>
  <!-- PROMOCIONES -->
  <div id="zaid" class="container-fluid alertaColor">
    <div v-if="$store.state.config.default === true">
      <div class="alert py-0 my-0" role="alert">
        <div class="row">
          <div class="col-12 col-xl-10 offset-xl-1">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span class="x" onclick="document.getElementById('zaid').style.display='none'">&times;</span>
            </button>
            <div class="row">
              <img :id="$store.state.config.idImagen" :src="'/img/'+$store.state.config.imagen"/>
              <div class="media-body">
                <p class="mb-0">{{$store.state.config.desc}} {{$store.state.config.add}}  {{$store.state.config.msi}} {{ this.$store.state.config.extraMsg }}</p>
                <!-- <h6>*{{$store.state.config.time}}</h6> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
#imgPromo{width: 40px}
#imgHot{width: 60px;margin-bottom: 5px;}

.row {
  -webkit-box-align: center;
  align-items: center;
}
.alertaColor {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #ff2f5f 40%, #ff580e 100%);
}
p {
  color: #fff;
  font-weight: 600;
  width: 96%;
  line-height: 1.4;
  font-size: 20px;
}
h6 {
  color: #fff;
  width: 100%;
  font-size: 12px;
}
.alertaColor svg {
  margin: 0 5px 0 0;
  width: 40px;
  padding: 0;
}
.alertaColor button span,
.alertaColorPromo button span {
  z-index: 1;
  position: absolute;
  color: #fff;
  right: 0;
  font-size: 30px;
}
.close {
  opacity: 1 !important;
}

@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1024px) {
}
@media (min-width: 426px) and (max-width: 767px) {
}
@media (min-width: 376px) and (max-width: 425px) {
  p {
    font-size: 17px;
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  p {
    font-size: 15px;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  p {
    font-size: 15px;
  }
}
</style>

<script>
import axios from 'axios'
export default {
  created: function() {
    this.$store.state.config.default = false;
    this.$store.state.config.desc = "25% de descuento";
    this.$store.state.config.add = "+";
    this.$store.state.config.msi = "6 y 12 ";
    //this.$store.state.config.time = "Válido del 03 al 30 de abril del 2020.";
    this.$store.state.config.imagen="precio.svg";
    this.$store.state.config.idImagen="imgPromo";
    
   

  },
  mounted() {
    this.fecha();
  },
  methods: {
    fecha: function() {
      var fecha = new Date();
      var dia = fecha.getDate();
      //var dia=12;
       if (dia >= 10 && dia <=  17) { 
       
        this.$store.state.config.desc = "30% de descuento"; 
        this.$store.state.config.msi = " + 6 y 12 ";
        this.$store.state.config.extraMsg = "MSI";
    

      }
      if (dia >= 30 && dia <=  31) { 
       
        this.$store.state.config.desc = "30% de descuento"; 
        this.$store.state.config.msi = " + 6 y 12 ";
        this.$store.state.config.extraMsg = "MSI";
 

      }
     
    }
  }
};
</script>

