<template>
  <div class="container-fluid">
    <div class="row">
      <form
        class="mt-4 mt-md-2 px-0"
        id="formcotizar"
        method="POST"
        action=""
        novalidate
        @submit.prevent="validateBeforeSubmit('formcotizar')"
      >
        <div class="row py-md-2 form-row">
          <div class="col-12 mb-md-2 padd">
            <input
              id="marca"
              name="marca"
              required=""
              type="hidden"
              v-model="$store.state.formData.idMarca"
            />
            <input
              id="modelo"
              name="modelo"
              required=""
              type="hidden"
              v-model="$store.state.formData.idModelo"
            />
            <input
              id="tipo"
              name="descripcion"
              required=""
              type="hidden"
              v-model="$store.state.formData.idDescripcion"
            />
            <input
              id="version"
              name="subDescripcion"
              required=""
              type="hidden"
              v-model="$store.state.formData.idSubDescripcion"
            />
            <input
              id="detalle"
              name="detalles"
              required=""
              type="hidden"
              v-model="$store.state.formData.idDetalles"
            />
            <multiselect
              ref="multiselect"
              :allow-empty="false"
              v-model="value.id"
              class="form-control acentoBorde"
              required=""
              deselectGroupLabel=""
              :searchable="false"
              selectGroupLabel=""
              tagPlaceholder=""
              deselectLabel=""
              selectLabel=""
              :options="options"
              :multiple="true"
              :close-on-select="ready"
              :clear-on-select="true"
              :hide-selected="true"
              :preserve-search="false"
              :placeholder="placeholderSelect"
              :loading="isLoading"
              label="nombre"
              track-by="id"
              open-direction="bottom"
              :taggable="true"
              @select="dispatchAction"
              @close="isOpen = false"
              @open="isOpen = true"
            >
              <template slot="tag" slot-scope="props"
                ><span class="tag"
                  >{{ props.option.nombre
                  }}<a
                    class="custom__remove"
                    style="cursor: pointer"
                    @click="
                      props.remove(props.option);
                      refreshSomething(props.option);
                    "
                    >✖️ <span>&nbsp;</span>
                  </a>
                </span></template
              >
            </multiselect>
            <small style="display: none; color: red" class="marcaReq"
              ><span>El campo marca es requerido</span></small
            >
            <small style="display: none; color: red" class="modeloReq"
              ><span>El campo modelo es requerido</span></small
            >
            <small style="display: none; color: red" class="tipoReq"
              ><span>El campo submarca es requerido</span></small
            >
            <small style="display: none; color: red" class="versionReq"
              ><span>El campo descripcion es requerido</span></small
            >
            <small style="display: none; color: red" class="detalleReq"
              ><span>El campo detalle es requerido</span></small
            >
          </div>
        </div>

        <div class="row py-2 form-row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd">
            <select
              title="edad"
              name="edad"
              id="edad"
              required
              class="form-control form-select fs14 form-style"
              style="overflow: hidden; width: 100%"
              @change="
                calculaFechaNacimiento(),
                  myFocus('genero'),
                  warningReq('edadReq')
              "
              v-model="$store.state.formData.edad"
            >
              <option value>Edad</option>
              <option v-for="e in edades" v-bind:key="e">{{ e }}</option>
            </select>
            <small
              style="display: none; color: red; font-size: 11px"
              class="edadReq"
              ><span>El campo edad es requerido</span></small
            >
          </div>

          <!-- GENERO -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd">
            <select
              title="genero"
              name="genero"
              required=""
              id="genero"
              class="form-control form-select fs14 form-style"
              style="overflow: hidden; width: 100%"
              @change="myFocus('cp'), warningReq('generoReq')"
              v-model="$store.state.formData.genero"
            >
              <option value>Género</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <small
              style="display: none; color: red; font-size: 11px"
              class="generoReq"
              ><span>El campo genero es requerido</span></small
            >
          </div>
          <!-- CODIGO POSTAL -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd form-floating"
          >
            <input
              title="cp"
              type="tel"
              name="cp"
              id="cp"
              required=""
              maxlength="5"
              minlength="5"
              onKeyPress="if(this.value.length === 5) return false;"
              class="form-control form-style"
              placeholder="Escribe tu Código Postal"
              @change="myFocus('nombre')"
              v-model="cp"
            />
            <label
              for="cp"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
            >
              Código Postal</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="cpReq"
              ><span>El campo código postal es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="cpInc"
              ><span style="color: #a21983"
                >Escribe tu código postal a 5 dígitos</span
              ></small
            >
          </div>
          <!-- NOMBRE -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd form-floating"
          >
            <input
              title="nombre"
              type="text"
              name="nombre"
              id="nombre"
              required=""
              pattern=" [a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.] {3,50}"
              class="form-control form-style"
              placeholder="Escribe tu nombre"
              v-model="nombre"
              @change="space('nombre')"
            />
            <label
              for="nombre"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
              >Nombre</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="nombreReq"
              ><span>El campo nombre es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="nombreInc"
              ><span style="color: #a21983"
                >Escribe el nombre correcto</span
              ></small
            >
          </div>
          <!-- CORREO -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 padd mb-2 form-floating"
          >
            <input
              title="correo"
              type="email"
              @change="space('correo')"
              name="correo"
              id="correo"
              required
              pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
              minlength="8"
              maxlength="50"
              class="form-control form-style"
              placeholder="Escribe tu email"
              v-model="correo"
            />
            <label
              for="correo"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
              >E-mail</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="correoReq"
              ><span>El campo e-mail es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="correoInc"
              ><span style="color: #a21983"
                >Ejemplo: tuemail@email.com</span
              ></small
            >
          </div>
          <!-- TELEFONO -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 padd mb-2 form-floating"
          >
            <input
              title="telefono"
              type="tel"
              name="telefono"
              id="telefono"
              required=""
              pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)?\d{10}$"
              maxlength="10"
              minlength="10"
              onKeyPress="if(this.value.length === 10) return false;"
              class="form-control form-style"
              placeholder="Escribe tu teléfono"
              @change="myFocus('btnCotizarAuto')"
              v-model="telefono"
            />
            <label
              for="telefono"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
              >Teléfono</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="telefonoReq"
              ><span>El campo telefono es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="telefonoInc"
              ><span style="color: #a21983"
                >Escribe tu número a 10 dígitos</span
              ></small
            >
          </div>
          <input
            type="text"
            id="gclid_field"
            name="gclid_field"
            value=""
            style="visibility: hidden; height: 1px; display: none"
          />
        </div>
        <!-- CHECKBOX -->
        <div class="col-12 text-center">
          <privacidad-component />
          <!--<div class="row">
            <div class="custom-control custom-checkbox checkBox">
              <input type="checkbox" class="custom-control-input" id="checkbox1" checked />
              <label class="custom-control-label" for="checkbox1">
                Acepto que he leído el
                <a
                  href="/"
                  class="priv"
                  data-toggle="modal"
                  data-target="#avisopriv"
                >
                  <b>Aviso de privacidad</b>
                </a>
              </label>
            </div>
          </div>-->
        </div>
        <div class="col-12 px-0">
          <button
            type="submit"
            class="btn btn-successCuadrado btn-lg col-12 mt-1 mb-4"
            id="btnCotizarAuto"
            :disabled="oneClick"
          >
            Cotizar Gratis
            <img
              src="img/primero/flecha-n.svg"
              alt="arriba"
              class="flecha"
              width="25"
              height="25"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import privacidadComponent from "~/components/common/privacidad.vue";
import marcasService from "~/plugins/marcas";
import modelosService from "~/plugins/modelos";
import tiposService from "~/plugins/tipo";
import versionesService from "~/plugins/version";
import descripsService from "~/plugins/descripcion";
import Multiselect from "vue-multiselect";
import validacionesService from "~/plugins/validaciones";

import saveDataCliente from "~/plugins/saveDataCliente";
import axios from "axios";

// import catalogosDirectos from "~/plugins/catalogosDirectos"
const validacion = new validacionesService();
// const catalogoDirecto = new catalogosDirectos;

export default {
  data() {
    return {
      accessToken: "",
      stepLocal: 0,
      oneClick: false,
      block: "['backspace']",
      isOpen: false,
      selected: {},
      placeholderSelect: "Selecciona una marca",
      edad: "",
      edades: [],
      genero: "",
      telefono: "",
      cp: "",
      ready: false,
      isLoading: false,
      detalles: [],
      firstStep: true,
      detalleS: [],
      aseguradora: "",
      x: {},
      cotizacionResponse: {},
      descuentoS: "0",
      value: [],
      options: [],
      cotizaciones: [],
      email: "",
      filteredOptions: [],
      nombre: "",
      correo: "",
      marca: "",
      modelo: "",
      tipo: "",
      version: "",
      detalle: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "tipoReq" },
        { id: "versionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  components: {
    privacidadComponent,
    Multiselect,
  }, //FIN components
  beforeCreate() {
    this.$store.commit("validarTokenCore");
    this.isLoading = true;
  }, //FIN beforeCreate

  async created() {
    if (!this.$store.state.config.reload) {
      
      this.$store.state.config.reload = true;
      if (typeof window !== "undefined") {
        window.location.reload();
      }
    }
    this.$store.state.formData.idMarca = "";
    this.$store.state.formData.edad = "";
    this.$store.state.formData.genero = "";
    this.$store.state.formData.cp = "";
    this.$store.state.formData.nombre = "";
    this.$store.state.formData.correo = "";
    this.$store.state.formData.telefono = "";
    this.$store.state.imgAseg = "ELAGUILA";
    this.$store.state.promoRecomendada = "-35% de descuento";
    this.$store.state.msipromo = "+ 3, 6 y 12 Meses Sin Intereses";
    //URL ORIGEN
    if (typeof window !== "undefined") {
      this.$store.state.formData.urlOrigen = window.location.href;
    }
    // INICIO DE LA DETECCION DE UTM
    this.$store.state.formData.utmSource = this.$route.query.utm_source
      ? this.$route.query.utm_source
      : "No params detected";
    this.$store.state.formData.utmMedium = this.$route.query.utm_medium
      ? this.$route.query.utm_medium
      : "No params detected";
    this.$store.state.formData.utmCampaign = this.$route.query.utm_campaign
      ? this.$route.query.utm_campaign
      : "No params detected";
    this.$store.state.formData.utmId = this.$route.query.utm_id
      ? this.$route.query.utm_id
      : "No params detected";
    // FIN DE LA DETECCION DE UTM
    this.refreshMarcas();
    this.llenarEdades();

    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {});
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
  }, //FIN async created
  methods: {
    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@");
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@");
          separado.forEach((element) => {
            cad2 += element.replaceAll("@", "");
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2;
        cadena = cadena.split(" ").join(" ").trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, "");
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(" ").join(" ").trim();
      }
      this[valor] = cadena;
    },

    refreshMarcas: function () {
      this.isLoading = true;
      var marcas = [];
      marcasService.search(this.accessToken).then((resp) => {
        resp = resp;
        resp.forEach((x) => {
          marcas.push({ id: "m" + x.id, nombre: x.nombre });
        });
        this.isLoading = false;
        this.options = marcas;
        this.placeholderSelect = "Selecciona una marca";
      });
    },
    refreshModelos: function () {
      this.options = [];
      this.isLoading = true;
      // let respuesta = [];
      let modelos = [];
      modelosService.search(this.$store.state.formData.idMarca).then((resp) => {
        resp = resp;
        resp.forEach((x) => {
          modelos.push({ id: "o" + x.id, nombre: x.nombre });
        });
        this.isLoading = false;
        this.options = modelos;
        this.placeholderSelect = "Selecciona un modelo";
      });
    },
    refreshTipos: function () {
      this.options = [];
      this.isLoading = true;
      // var respuesta = [];
      let tipos = [];
      tiposService.search(this.$store.state.formData.idModelo).then((resp) => {
        // this.options = resp.data;
        resp = resp;
        resp.forEach((el) => {
          tipos.push({ id: "t" + el.id, nombre: el.nombre });
        });
        this.isLoading = false;
        this.options = tipos;
        this.placeholderSelect = "Selecciona una descripcion";
      });
    },
    refreshVersiones: function () {
      this.options = [];
      this.isLoading = true;
      let versiones = [];
      versionesService
        .search(this.$store.state.formData.idDescripcion)
        .then((resp) => {
          // this.options = resp.data;
          resp = resp;
          resp.forEach((el) => {
            versiones.push({ id: "v" + el.id, nombre: el.nombre });
          });
          this.isLoading = false;
          this.options = versiones;
          this.placeholderSelect = "Selecciona una subdescripcion";
        });
    },
    refreshDescripciones: function () {
      this.options = [];
      this.isLoading = true;
      let detalles = [];
      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });
      this.$store.commit("cotizacionPromo");
      descripsService
        .search(this.$store.state.formData.idSubDescripcion)
        .then((resp) => {
          // this.options = resp.data;
          resp = resp;
          resp.forEach((el) => {
            detalles.push({ id: "s" + el.id, nombre: el.nombre });
          });
          this.isLoading = false;
          this.options = detalles;
          this.placeholderSelect = "Selecciona una subdescripcion";
        });
    },
    dispatchAction(newVal) {
      console.log(newVal);
      this.options = [];

      if (newVal.id.charAt(0) === "m") {
        this.options = [];
        this.marca = newVal.nombre;
        this.$store.state.formData.idMarca = newVal.id;
        this.$store.state.formData.marca = newVal.nombre;
        this.$store.state.formData.idMarca = newVal.id.substring(1);
        this.selected = {};
        this.refreshModelos();
        this.warningReq("marcaReq");
        // this.stepLocal = 1;
      }
      if (newVal.id.charAt(0) === "o") {
        this.options = [];
        this.modelo = newVal.nombre;
        this.selected = {};
        this.$store.state.formData.idModelo = newVal.id;
        this.$store.state.formData.modelo = newVal.nombre;
        this.$store.state.formData.idModelo = newVal.id.substring(1);
        this.refreshTipos();
        this.warningReq("modeloReq");
        // this.stepLocal = 2;
      }
      if (newVal.id.charAt(0) === "t") {
        this.options = [];
        this.tipo = newVal.nombre;
        this.selected = {};
        this.$store.state.formData.idDescripcion = newVal.id;
        this.$store.state.formData.descripcion = newVal.nombre;
        this.$store.state.formData.idDescripcion = newVal.id.substring(1);
        this.refreshVersiones();
        this.warningReq("tipoReq");
        // this.stepLocal = 3;
      }
      if (newVal.id.charAt(0) === "v") {
        this.options = [];
        this.version = newVal.nombre;
        this.$store.state.formData.idSubDescripcion = newVal.id;
        this.$store.state.formData.subDescripcion = newVal.nombre;
        this.$store.state.formData.idSubDescripcion = newVal.id.substring(1);
        this.selected = {};
        this.refreshDescripciones();
        this.warningReq("versionReq");
        // this.stepLocal = 3;
      }
      if (newVal.id.charAt(0) === "s") {
        this.detalle = newVal.nombre;
        this.$store.state.formData.idDetalles = newVal.id;
        this.$store.state.formData.detalle = newVal.nombre;
        this.$store.state.formData.clave = newVal.id.substring(1);
        this.myFocusMulty("edad");
        this.placeholderSelect = "";
        this.isLoading = false;
        this.warningReq("detalleReq");
      }
    },
    refreshSomething: function (deleted) {
      console.log("refreshSomething");
      console.log(deleted);

      if (deleted.id.charAt(0) === "m") {
        console.log("Elimino una marca");
        this._self.limpiarMarcas();
        return;
      }
      if (deleted.id.charAt(0) === "o") {
        console.log("Elimino un modelo");
        this.limpiarModelos();
        return;
      }
      if (deleted.id.charAt(0) === "t") {
        console.log("Elimino un tipo");
        this.limpiarTipos();
        return;
      }
      if (deleted.id.charAt(0) === "v") {
        console.log("Elimino una submarca");
        this.limpiarVersiones();
        return;
      }
      if (deleted.id.charAt(0) === "s") {
        console.log("Elimino una detalle");
        this.limpiarDetalle();
        return;
      }
    },
    limpiarMarcas: function () {
      this.selected = {};
      this.$store.state.formData.idDetalles = "";
      this.$store.state.formData.idSubDescripcion = "";
      this.$store.state.formData.idDescripcion = "";
      this.$store.state.formData.idModelo = "";
      this.$store.state.formData.idMarca = "";
      this.ready = false;
      this.value = [];
      this.refreshMarcas();
      this.warningReq("marcaReq");
      this.warningReq("modeloReq");
    },
    limpiarModelos: function () {
      this.selected = {};
      this.$store.state.formData.idDetalles = "";
      this.$store.state.formData.idSubDescripcion = "";
      this.$store.state.formData.idDescripcion = "";
      this.$store.state.formData.idModelo = "";
      this.ready = false;
      var x = [];
      for (var i in this.value.id)
        if (this.value.id[i].id.charAt(0) == "m") x.push(this.value.id[i]);
      this.value.id = x;
      this.refreshModelos();
      this.warningReq("modeloReq");
      this.warningReq("tipoReq");
    },
    limpiarTipos() {
      this.selected = {};
      this.$store.state.formData.idDetalles = "";
      this.$store.state.formData.idSubDescripcion = "";
      this.$store.state.formData.idDescripcion = "";
      this.ready = false;
      var x = [];
      for (var i in this.value.id)
        if (
          this.value.id[i].id.charAt(0) == "m" ||
          this.value.id[i].id.charAt(0) == "o"
        )
          x.push(this.value.id[i]);
      this.value.id = x;
      this.refreshTipos();
      this.warningReq("tipoReq");
      this.warningReq("versionReq");
    },
    limpiarVersiones() {
      this.selected = {};
      this.$store.state.formData.idDetalles = "";
      this.$store.state.formData.idSubDescripcion = "";
      this.ready = false;
      var x = [];
      for (var i in this.value.id)
        if (
          this.value.id[i].id.charAt(0) == "m" ||
          this.value.id[i].id.charAt(0) == "o" ||
          this.value.id[i].id.charAt(0) == "t"
        )
          x.push(this.value.id[i]);
      this.value.id = x;
      this.refreshVersiones();
      this.warningReq("versionReq");
      this.warningReq("detalleReq");
    },
    limpiarDetalle() {
      this.selected = {};
      this.$store.state.formData.idDetalles = "";
      this.ready = false;
      var x = [];
      for (var i in this.value.id)
        if (
          this.value.id[i].id.charAt(0) == "m" ||
          this.value.id[i].id.charAt(0) == "o" ||
          this.value.id[i].id.charAt(0) == "t" ||
          this.value.id[i].id.charAt(0) == "v"
        )
          x.push(this.value.id[i]);
      this.value.id = x;
      this.refreshDescripciones();
      this.warningReq("detalleReq");
    },
    validateBeforeSubmit(scope) {
      this.formValido = 1;
      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        this.oneClick = true;
        if (typeof this.$store.state.formData != "undefined") {
          if (this.$store.state.formData.subDescripcion != "") {
            this.$router.push({ path: this.$store.state.config.urlForm });
          }
        }
      }
    },

    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad)
      ).toString("dd/MM/yyyy");
      this.myFocus("genero");
    },
    llenarEdades() {
      for (var i = 18; i <= 99; i++) {
        this.edades.push(i);
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 1000);
      function alertFunc() {
        if (typeof document != "undefined") {
          var e = document.getElementById(id);
          if (e) {
            e.focus();
          }
        }
      }
    },
    myFocusMulty: function (id) {
      document.getElementById(id).focus();
    },
    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req");
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },

    //Validacion para funnel
    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //valida que exista
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        //catalogos
        if (id == "marca" && this.$store.state.formData.idMarca == "") {
          var req = document.getElementsByClassName(idWarning);
          if (typeof req[0] != "undefined") {
            req[0].style.display = "block";
            this.formValido = 0;
          }
        }
        if (
          id == "modelo" &&
          this.$store.state.formData.idModelo == "" &&
          this.$store.state.formData.idMarca != ""
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "tipo" &&
          this.$store.state.formData.idDescripcion == "" &&
          this.$store.state.formData.idModelo != ""
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "version" &&
          this.$store.state.formData.idSubDescripcion == "" &&
          this.$store.state.formData.idDescripcion != ""
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "detalle" &&
          this.$store.state.formData.idDetalles == "" &&
          this.$store.state.formData.idSubDescripcion != ""
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        }
        if (
          (id == "cp" && this.$store.state.formData.cp == "") ||
          this.cp.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "nombre" && this.$store.state.formData.nombre == "") ||
          this.nombre.search(/[0-9]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "correo" && this.$store.state.formData.correo == "") {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "telefono" && this.$store.state.formData.telefono == "") ||
          this.telefono.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        }
        //demas campos
        var valor = elemento.value;
        if (
          valor == "" &&
          (idWarning == "edadReq" || idWarning == "generoReq")
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
  }, //FIN methods
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function () {
      //version2

      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.nombre.substring(
          this.nombre.length - 1,
          this.nombre.length
        );
        var result = this.checkCaracter(ultimoCaracter, "letra");
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
            this.nombre,
            "nombre"
          );
        } else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = "";
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, "33333");
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
          console.log(this.cp.length);
          if (this.cp.length == 5) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("nombre");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningView("cpInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
